<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="site-footer">

    <div class="footer-community">

        <h2>💕 Rejoins la communauté</h2>

        <div class="footer-socials">

            <a
                href="https://www.twitch.tv/saphirschwarz"
                target="_blank"
                rel="noopener noreferrer"
            >
                Twitch
            </a>

            <a
                href="https://www.tiktok.com/@saphir_schwarz"
                target="_blank"
                rel="noopener noreferrer"
            >
                TikTok
            </a>

            <a
                href="https://discord.gg/KcrPYbtAFV"
                target="_blank"
                rel="noopener noreferrer"
            >
                Discord
            </a>

        </div>


        <div class="footer-contribution">

            <p>
                Tu as trouvé une réponse, une solution ou une information
                qui manque sur le site ?
            </p>

            <a
                href="https://discord.gg/KcrPYbtAFV"
                target="_blank"
                rel="noopener noreferrer"
                class="discord-contribution"
            >
                💬 Partage ta découverte sur notre Discord !
            </a>

        </div>

    </div>


    <div class="footer-bottom">

        <p>
            Site communautaire non officiel consacré à
            Amour Sucré et Eldarya.
        </p>

        <p>
            Fait avec ❤️ pour la communauté.
        </p>

    </div>

</footer>
</body>
</html>