<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="site-header">

    <div class="site-title">
        <a href="index.html">
            Amour Sucré
        </a>
    </div>

    <nav class="game-navigation">

        <a href="jeux/high-school-life/">
            High School Life
        </a>

        <a href="jeux/campus-life/">
            Campus Life
        </a>

        <a href="jeux/love-life/">
            Love Life
        </a>

        <a href="jeux/new-gen/">
            New Gen
        </a>

        <a href="jeux/eldarya/">
            Eldarya
        </a>

        <a href="jeux/new-era/">
            New Era
        </a>

    </nav>

</header>
</body>
</html>