<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="site-header">

    <div class="site-title">
        <a data-link="index.html">
            Amour Sucré
        </a>
    </div>

    <nav class="game-navigation">

        <a data-link="jeux/hsl/">
            High School Life
        </a>

        <a data-link="jeux/campus_life">
            Campus Life
        </a>

        <a data-link="jeux/alternate_life">
            Alternate Life
        </a>

        <a data-link="jeux/love_life/">
            Love Life
        </a>

        <a data-link="jeux/new_gen/">
            New Gen
        </a>

        <a data-link="jeux/eldarya/">
            Eldarya
        </a>

        <a data-link="jeux/new_era/">
            New Era
        </a>

    </nav>

</header>

</header>
</body>
</html>